# Environment variables
.env

# Python virtual environment
venv/
ENV/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local fallback SQLite database
*.db

# OS specific files
.DS_Store
Thumbs.db
